/* General */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url(../images/concrete_seamless.png);
}

html{
    position: relative;
    min-height: 100%;
}

main {
    margin: 60px 0;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
}

.card-header{
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    background-color: #fff;
    color: #4aaaa5;
    font-size: 38px;
    margin-bottom: 25px;
    border-bottom: 3px solid #efefef;
}

/* Nav */
#logo {
    padding: 10px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #4aaaa5;
}

a.nav-link{
    border-left: 1px solid #efefef;
}

#aboutLink{
    border-left: none;
}

/* About Page */

#aboutImage{
    float: left;
    margin: 0 20px 10px 0;
}

/* Portfolio */
.portImage{
    margin: 20px auto;
}

h3{
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    width: 91%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
    /* can't figure out how to get the h3 tags to fit conformly to the images, moving on */
}

/* Contact */
.form-control{
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
}

.submit-btn{
    padding: 15px 30px;
    font-size: 15px;
    color: #fff;
    background-color: #4aaaa5;
    border: 0;
}

.submit-btn:hover{
    opacity: .7;
}

/* Footer */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666;
    clear:  both;
    border-top: 5px solid #4aaaa5;
    color: #efefef;
}

/* footer is stuck in weird spot on portfolio page, not sure why or how to push it, margin didn't help and neither did clears */